@charset "utf-8";
main {
	position: relative;
	height: 50vh;
	width: 80vw;
	margin: auto;
	

	background: #FFFFFF;
}

.header{
	padding-top: 10px;
}

ul {
	list-style:none;
	left: 70%;
	position: fixed;
	width: 100%;
	top: 30px;
	padding: 0;
	margin: 0;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	list-style-type: none;
	font-size: 18px;

 }

a, a:visited, a:hover, a:active {
  color: black;
}
 ul li {
     position:relative;
 }
 ul, li {
     margin:0;
     padding:0;
 }
 li {
	display:inline-block;
	padding:10px 10px;
	text-decoration: none;
	float: left;
 }
li a{
    text-decoration: none;
	
}
 ul li ul {
     display:none;
     position:absolute;
     top:45px;
     left:0;
	 width: 150px;
 }
 ul li ul li {
     display:block;
	 clear: both;
     width: 100%;
 }
 ul li:hover {
	background-color: #F1F0F0;
	color: white;
	text-shadow: none;
	cursor: pointer;

 }
 ul li:hover ul {
     display:block;
 }

.title{
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    margin-left: 18px;
    color: #000000;

}

h2{
	font-size: 35px;
	font-family: Rockwell;
	text-align: center;
}

.create_option{
	display: flex;
}
.food-options{
	background-color: #E5E5E5;
	padding: 30px;
	margin-top: 30px;
}

.mini-header{
	font-family: Rockwell;
	text-align: left;
	font-weight: bold; 
	font-size: 18px;
	font-style: normal;
	margin-left: 10px;
}
.meal-inputs{
	border: 2px solid black;
	padding:10px;
    margin:10px  ;
	border-radius: 10px;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	
	
}

.button{
	font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    color: white;
	background-color: black;
	height: 50px;
	margin: 10px;
}

th{
	font-family: Rockwell;
	text-align: left;
	font-weight: bold; 
	font-size: 25px;
	font-style: normal;
}
td{
	font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
	padding: 5px 0;
}

.meal-items{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-row-gap: 20px;
	grid-column-gap: 15px;
	background-color: #E5E5E5;
	padding: 20px;
	justify-content: space-evenly;
}

.meal{
    background-color: white;
	width: 260px;
	padding: 10px;
	box-shadow: 0px -5px 6px #888888;
	box-radius: 5px;
	border-radius: 10px;
}

.meal-text{
	font-family: Rockwell;
	padding-bottom: 6px;
	
	
}
.meal-name{
	
	font-size: 20px;
	
	padding-bottom: 10px;
}
.meal-date{
	
	font-size: 18px;
	
}
.meal-type{
	
	font-size: 16px;
	
}
.meal-buyer{
	
	font-size: 18px;
	
	color: #969696;
}


.meal-icons{
	float: right;
	margin: 4px;
	
}
.report{
	background-color: #E5E5E5;
	padding: 30px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}








